html
  body
    //
        This template loads for the 'tab.adopt' state (app.js)
    ion-view(view-title='Your account')
      ion-content(has-header='true', has-tabs='true')
        .list.list-inset
          label.item.item-input
            input(type='text',value='{{account.alias}}')
          label.item.item-input
            input(type='text',value='{{account.statement}}')
            input(type='email')
          p {{account}}
            
          button.button.button-positive.button-block Save
