html
  body
    //
       
        Create tabs with an icon and label, using the tabs-positive style. 
        Each tab's child <nav-view> directive will have its own 
        navigation history that also transitions its views in and out.
    ion-tabs.tabs-icon-top.tabs-default.tabs-positive
      // Artists Tab
      ion-tab(title='Songwriters', icon='icon ion-cube', href='#/tab/artists')
        ion-nav-view(name='artists-tab')
      // Song Tab
      ion-tab(title='Songs', icon='icon ion-music-note', href='#/tab/songs')
        ion-nav-view(name='songs-tab')
      // person
      ion-tab(title='Me', icon='icon ion-person', href='#/tab/account')
        ion-nav-view(name='account-tab')
      // About Tab
      ion-tab(title='Mission', icon='icon ion-coffee', href='#/tab/mission')
        ion-nav-view(name='mission-tab')
